
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-2-Vn9 {
  height: 90rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .auto-group-1kr7-e9F {
    position: absolute;
    left: 0;
    top: 0;
    width: 147.2001rem;
    height: 65.6rem;

    .line-1-MpM {
      position: absolute;
      left: 0;
      top: 12.75rem;
      background-color: rgba(191, 191, 191, 0.4499999881);
      width: 144.0001rem;
      height: 0.1rem;
    }
    .je-minscris-h7X {
      left: 92.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      width: 8.8rem;
      position: absolute;
      color: #0075fe;
      white-space: nowrap;
      height: 2.1rem;
      top: 4.1rem;
    }
    .crayoncoloriage201511161276173090-1-PW9 {
      height: 1.3rem;
      position: absolute;
      left: 101.4rem;
      top: 4.4rem;
      object-fit: cover;
      vertical-align: top;
      opacity: 0.45;
      width: 1rem;
    }
    .je-me-connecte-5Ny {
      width: 11.3rem;
      height: 2.1rem;
      position: absolute;
      top: 4.1rem;
      font-weight: 400;
      font-family: Inika, 'Source Sans Pro';
      left: 107.8rem;
      font-size: 1.6rem;
      line-height: 1.3025;
      color: #0075fe;
      white-space: nowrap;
    }
    .silhouette-ou-icne-masculine-de-visage-profil-d-avatar-homme-personne-inconnue-anonyme-illustration-vecteur-dans-l-ai-138787686-1-NN5 {
      height: 2.3rem;
      position: absolute;
      left: 119rem;
      top: 3.9rem;
      object-fit: cover;
      vertical-align: top;
      opacity: 0.45;
      width: 3rem;
    }
    .rectangle-1-3DK {
      position: absolute;
      left: 128.8rem;
      top: 3.3rem;
      border: solid 0.1rem rgba(195, 195, 195, 0.4499999881);
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.4499999881);
      width: 6.7rem;
      height: 2.9rem;
    }
    .fr-Yvm {
      font-family: Inika, 'Source Sans Pro';
      width: 2rem;
      height: 2.1rem;
      font-size: 1.6rem;
      line-height: 1.3025;
      color: #0075fe;
      position: absolute;
      left: 131.3rem;
      top: 3.4rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .language-course-icon-free-vector-1-RzZ {
      vertical-align: top;
      opacity: 0.45;
      width: 1.9rem;
      height: 1.7rem;
      position: absolute;
      left: 129.4rem;
      top: 3.6rem;
      object-fit: cover;
    }
    .alumni-1-wi1 {
      object-fit: cover;
      vertical-align: top;
      opacity: 0.45;
      width: 14.9rem;
      height: 12.5rem;
      position: absolute;
      left: 1.5rem;
      top: 0;
    }
    .ecole-normale-suprieure-SPs {
      width: 9.4rem;
      height: 6.3rem;
      left: 16.4rem;
      font-weight: 400;
      line-height: 1.3025;
      position: absolute;
      top: 1.9rem;
      font-size: 1.6rem;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';

      .ecole-normale-suprieure-SPs-sub-0 {
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
      }
      .ecole-normale-suprieure-SPs-sub-1 {
      }
      .ecole-normale-suprieure-SPs-sub-2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
      }
      .ecole-normale-suprieure-SPs-sub-3 {
      }
      .ecole-normale-suprieure-SPs-sub-4 {
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
        font-size: 1.6rem;
      }
      .ecole-normale-suprieure-SPs-sub-5 {
      }
    }
    .bienvenue-sur-la-plateforme-Ke1 {
      white-space: nowrap;
      height: 4.7rem;
      top: 26.8rem;
      font-weight: 400;
      font-size: 3.6rem;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      width: 47.1rem;
      position: absolute;
      left: 3rem;
    }
    .exploration-des-rseaux-alumni-LJD {
      width: 59.9rem;
      position: absolute;
      font-size: 4rem;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      height: 5.3rem;
      left: 3rem;
      top: 33.8rem;
      font-weight: 400;
      line-height: 1.3025;
    }
    .imageaccueil1-1-ZRs {
      opacity: 0.45;
      width: 56.5rem;
      height: 50.9rem;
      position: absolute;
      left: 90.7rem;
      top: 14.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-2-shT {
      width: 81.4rem;
      height: 61.2rem;
      position: absolute;
      left: 25.3rem;
      top: 4.4rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #f4f4f4;
    }
    .arrow-1-o5K {
      height: 5.0403rem;
      position: absolute;
      left: 25.3rem;
      top: 11.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.0021rem;
    }
    .je-me-connecte-XX7 {
      font-size: 2.4rem;
      line-height: 1.3025;
      width: 16.9rem;
      height: 3.2rem;
      top: 10.1rem;
      font-weight: 400;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 30.4rem;
    }
    .ferme-x-Deq {
      font-size: 2rem;
      font-family: Inika, 'Source Sans Pro';
      display: flex;
      left: 95.3rem;
      font-weight: 400;
      color: #0075fe;
      align-items: baseline;
      width: 8.3rem;
      height: 2.7rem;
      top: 5.8rem;
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      line-height: 1.3025;

      .ferme-x-Deq-sub-0 {
      }
      .ferme-x-Deq-sub-1 {
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Imprima, 'Source Sans Pro';
        font-size: 2rem;
      }
    }
    .sign-up-details-iV7 {
      left: 35.3rem;
      top: 16rem;
      width: 58.3rem;
      height: 37.6rem;
      position: absolute;

      .vector-12-pY9 {
        height: 0;
        position: absolute;
        left: 0;
        top: 25.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 19rem;
      }
      .vector-13-Aru {
        left: 39.3rem;
        top: 25.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 19rem;
        height: 0;
        position: absolute;
      }
      .auto-group-zmdj-6Vf {
        height: 2.3rem;
        position: absolute;
        left: 2rem;
        top: 26.6rem;
        display: flex;
        align-items: flex-end;
        width: 51.6rem;

        .group-420-28R {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 24.7rem 0.3rem 0rem;
          height: 2rem;
          display: flex;

          .auto-group-5hc5-vzV {
            width: 4rem;
            height: 100%;
            border: solid 0.05rem #c9c9c9;
            flex-shrink: 0;
            margin-right: 0.8rem;
            box-sizing: border-box;
            border-radius: 3.65rem;
            padding: 0.2rem;
            background-color: #ebebeb;

            .knob-20-oqK {
              background-color: #ffffff;
              border-radius: 1.2rem;
              width: 1.6rem;
              height: 1.6rem;
              box-shadow: 0.1rem 0.1rem 0.2rem rgba(51, 51, 51, 0.3000000119);
            }
          }
          .description-3Ds {
            font-weight: 400;
            line-height: 1.6666666667;
            letter-spacing: 0.03rem;
            color: #1a1a1a;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
          }
        }
        .recover-password-xbj {
          line-height: 1.0357142857;
          color: #d93f21;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.4rem;
          font-weight: 300;
        }
      }
      .group-421-VLm {
        border-radius: 1rem;
        width: 40rem;
        height: 7rem;
        font-family: Poppins, 'Source Sans Pro';
        border: solid 0.1rem #d9d9d9;
        left: 9.5rem;
        font-weight: 400;
        color: #5a5a5a;
        position: absolute;
        top: 0;
        font-size: 1.4rem;
        line-height: 1.0357142857;
        box-sizing: border-box;
        padding: 2.7rem 2.4rem 2.8rem 2.4rem;
        white-space: nowrap;
        background-color: #ffffff;
      }
      .group-418-tNu {
        background-color: #ffffff;
        left: 9.5rem;
        border: solid 0.1rem #d9d9d9;
        width: 40rem;
        height: 7rem;
        position: absolute;
        top: 9.1rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 2.5rem 2.3rem 2.5rem 2.4rem;
        border-radius: 1rem;

        .password-Bcu {
          color: #5a5a5a;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 26.5rem 0.1rem 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.0357142857;
        }
        .blind-1-W9P {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
          height: 1.9999rem;
        }
      }
      .button-1bw {
        position: absolute;
        font-weight: 400;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        width: 40rem;
        height: 5.5rem;
        top: 32.1rem;
        line-height: 0.725;
        color: #5a5a5a;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        left: 8.8rem;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        border: solid 0.3rem #5a5a5a;
      }
    }
    .vous-navez-pas-de-compte--FFP {
      font-size: 1.4rem;
      font-weight: 300;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 20.3rem;
      top: 54.9rem;
      left: 49.1rem;
      line-height: 1.0357142857;
      color: #000000;
      height: 1.5rem;
      position: absolute;
    }
    .sign-up-M3X {
      line-height: 1.0357142857;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.8rem;
      cursor: pointer;
      top: 54.9rem;
      font-size: 1.4rem;
      color: #db7a20;
      height: 1.5rem;
      position: absolute;
      left: 70.6rem;
      font-weight: 500;
    }
    .um5acma-d13 {
      white-space: nowrap;
      align-items: baseline;
      position: absolute;
      left: 85.5rem;
      top: 17.8rem;
      font-size: 2rem;
      color: #6f6f6f;
      font-family: Inika, 'Source Sans Pro';
      width: 12.5rem;
      height: 2.7rem;
      font-weight: 400;
      line-height: 1.3025;
      display: flex;

      .um5acma-d13-sub-0 {
      }
      .um5acma-d13-sub-1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #d93f21;
        font-family: Inika, 'Source Sans Pro';
      }
    }
  }
  .auto-group-vthf-XVj {
    align-items: center;
    width: 132.2rem;
    height: 12.9rem;
    position: absolute;
    left: 1.5rem;
    top: 74.2rem;
    display: flex;

    .alumni-2-FRj {
      height: 12.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      opacity: 0.45;
      width: 14.9rem;
    }
    .ecole-normale-suprieure-PXw {
      font-family: Inika, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 61.5rem 1.2rem 0rem;
      max-width: 12.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3029999733;
      color: #000000;

      .ecole-normale-suprieure-PXw-sub-0 {
        font-family: Lemon, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
      }
      .ecole-normale-suprieure-PXw-sub-1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .ecole-normale-suprieure-PXw-sub-2 {
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
      }
      .ecole-normale-suprieure-PXw-sub-3 {
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        font-size: 2rem;
      }
      .ecole-normale-suprieure-PXw-sub-4 {
        font-family: Lemon, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
      }
      .ecole-normale-suprieure-PXw-sub-5 {
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        font-size: 2rem;
      }
    }
    .servicealumnigmailma-Gn5 {
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 6.1rem 1.2rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3025;
    }
    .item-212-647177587-nkR {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
    }
  }
  .line-2-JCy {
    width: 144.0003rem;
    height: 0.2rem;
    position: absolute;
    left: 0;
    top: 73.85rem;
    background-color: rgba(0, 117, 254, 0.4499999881);
  }
}
