
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.005rem;
}.frame-8-xdf {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 0.5rem;
  width: 100%;

  .auto-group-3mxd-U6D {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 1.702rem 0.205rem 0.003rem;
    width: calc(100% - 1.705rem);
    height: 16.1rem;
    display: flex;

    .auto-group-eeur-Azd {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-right: 82.6rem;

      .alumni-1-Kcd {
        margin-bottom: 1.3rem;
        width: 14.9rem;
        height: 14.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ecole-normale-suprieure-fAh {
        flex-shrink: 0;
        margin-bottom: 3.6rem;
        max-width: 9.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';

        .ecole-normale-suprieure-fAh-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-fAh-sub-1 {
        }
        .ecole-normale-suprieure-fAh-sub-2 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-fAh-sub-3 {
        }
        .ecole-normale-suprieure-fAh-sub-4 {
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
        }
        .ecole-normale-suprieure-fAh-sub-5 {
        }
      }
    }
    .auto-group-bchw-vPT {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .full-name-UQy {
        margin-bottom: 0.6rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .espace-exploration-des-rseaux-alumni-ens-oy3 {
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        max-width: 35.4rem;
        font-size: 2.4rem;

        .espace-exploration-des-rseaux-alumni-ens-oy3-sub-0 {
        }
        .espace-exploration-des-rseaux-alumni-ens-oy3-sub-1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .espace-exploration-des-rseaux-alumni-ens-oy3-sub-2 {
        }
      }
      .auto-group-nkzf-JYR {
        flex-shrink: 0;
        display: flex;
        align-items: flex-start;

        .icone-de-deconnexion-vecteur-symbole-vecteur-fleche-de-deconnexion-et-icone-de-porte-sortie-icone-de-signe-de-deconnexion-symbole-de-deconnexion-gratuit-vectoriel-1-fNy {
          flex-shrink: 0;
          margin-right: 1rem;
          width: 2.7rem;
          height: 3.7rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
        }
        .dconnexion-93F {
          flex-shrink: 0;
          margin-right: 14.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
        }
        .fr-3uK {
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 2.4rem;
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
  }
  .line-3-PCV {
    width: 100%;
    height: 0.1rem;
    background-color: #bebebe;
    flex-shrink: 0;
  }
  .auto-group-wfgm-JKT {
    width: 100%;
    height: 111.495rem;
    position: relative;
    flex-shrink: 0;

    .line-4-Rey {
      width: 144.0006rem;
      height: 0.1rem;
      position: absolute;
      left: 0.0023rem;
      top: 8.195rem;
      background-color: #bebebe;
    }
    .auto-group-c6fj-9ay {
      top: 1.795rem;
      display: flex;
      align-items: center;
      width: 86.3rem;
      height: 3.2rem;
      position: absolute;
      left: 3.5025rem;

      .home-s1B {
        font-size: 2.4rem;
        font-weight: 400;
        color: #000000;
        flex-shrink: 0;
        cursor: pointer;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 4.8rem;
      }
      .info-ya1 {
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.8rem;
        cursor: pointer;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .profile-JsB {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
      }
      .info-personnel-eg9 {
        margin-right: 5.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .contact-Pdj {
        margin-right: 5.4rem;
        line-height: 1.3025;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 2.4rem;
        font-weight: 400;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
      }
      .autre-profile-Jkh {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-gcdp-T7o {
      display: flex;
      align-items: flex-start;
      width: 132.1rem;
      height: 14.8rem;
      position: absolute;
      left: 0.0025rem;
      top: 91.395rem;

      .alumni-2-yrq {
        width: 14.9rem;
        height: 14.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ecole-normale-suprieure-gmF {
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 2.6rem 64.5rem 0rem 0rem;
        max-width: 9.4rem;
        font-size: 1.6rem;

        .ecole-normale-suprieure-gmF-sub-0 {
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
        }
        .ecole-normale-suprieure-gmF-sub-1 {
        }
        .ecole-normale-suprieure-gmF-sub-2 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-gmF-sub-3 {
        }
        .ecole-normale-suprieure-gmF-sub-4 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-gmF-sub-5 {
        }
      }
      .servicealumnigmailma-FLV {
        flex-shrink: 0;
        margin: 2.5rem 6.9rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-212-647177587-MeR {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 2.5rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
      }
    }
    .line-5-H2H {
      width: 144.0001rem;
      height: 0.2rem;
      position: absolute;
      left: 0.0026rem;
      top: 90.895rem;
      background-color: #0075fe;
    }
    .auto-group-5tsv-pH7 {
      display: flex;
      align-items: flex-start;
      width: 110.5rem;
      height: 24.3rem;
      position: absolute;
      left: 4.9025rem;
      top: 17.995rem;

      .profile-logo-6-1-Yyo {
        flex-shrink: 0;
        margin-right: 14.5rem;
        width: 26.4rem;
        height: 24.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.2rem;
      }
      .auto-group-jn6m-e1F {
        margin-top: 0.1rem;
        width: 69.6rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .entrez-vos-informations-avV {
          font-weight: 400;
          line-height: 0.3625;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.7rem 11.8rem 0rem;
          font-size: 4rem;
        }
        .auto-group-x6ot-uSy {
          height: 5rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .auto-group-stp7-Fmj {
            line-height: 0.9666666667;
            font-family: Poppins, 'Source Sans Pro';
            padding: 1.2rem 1.3rem 2.3rem 1.3rem;
            height: 100%;
            font-size: 1.5rem;
            width: 30rem;
            white-space: nowrap;
            border: solid 0.1rem #a3a3a3;
            flex-shrink: 0;
            box-sizing: border-box;
            font-weight: 400;
            color: #757575;
            margin-right: 9.6rem;
            background-color: #ffffff;
            border-radius: 1rem;
          }
          .auto-group-7dt5-JV7 {
            font-weight: 400;
            line-height: 0.9666666667;
            border-radius: 1rem;
            box-sizing: border-box;
            width: 30rem;
            color: #747070;
            background-color: #ffffff;
            padding: 1.2rem 1.9rem 2.3rem 1.9rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #8f8f8f;
            height: 100%;
            font-size: 1.5rem;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-rdwo-YPT {
      height: 7.8rem;
      position: absolute;
      left: 8.2025rem;
      top: 42.295rem;
      display: flex;
      align-items: flex-start;
      width: 107.2rem;

      .auto-group-whwz-r9F {
        width: 19.8rem;
        font-size: 2rem;
        color: #000000;
        white-space: nowrap;
        border: solid 0.1rem #757575;
        flex-shrink: 0;
        height: 4.5rem;
        display: flex;
        justify-content: center;
        background-color: #87bbf7;
        margin: 3.3rem 17.8rem 0rem 0rem;
        align-items: center;
        border-radius: 1rem;
        font-weight: 400;
        line-height: 0.725;
        font-family: Poppins, 'Source Sans Pro';
        box-sizing: border-box;
      }
      .auto-group-fegh-UwK {
        font-family: Poppins, 'Source Sans Pro';
        border: solid 0.1rem #8f8f8f;
        background-color: #ffffff;
        font-size: 1.5rem;
        flex-shrink: 0;
        width: 30rem;
        font-weight: 400;
        color: #757575;
        white-space: nowrap;
        border-radius: 1rem;
        margin: 0rem 9.6rem 2.8rem 0rem;
        box-sizing: border-box;
        padding: 1.5rem 1.3rem 2rem 1.3rem;
        line-height: 0.9666666667;
      }
      .auto-group-tqlh-Xub {
        border-radius: 1rem;
        width: 30rem;
        border: solid 0.1rem #8f8f8f;
        font-size: 1.6rem;
        color: #757575;
        white-space: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 1.9rem 1.6rem 1.9rem;
        background-color: #ffffff;
        margin-bottom: 2.8rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: Noto Sans, 'Source Sans Pro';
      }
    }
    .auto-group-iirm-ZbP {
      position: absolute;
      left: 45.8025rem;
      top: 53.195rem;
      display: flex;
      align-items: center;
      width: 69.6rem;
      height: 5rem;

      .auto-group-ndyj-ttZ {
        box-sizing: border-box;
        line-height: 0.9666666667;
        white-space: nowrap;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 1.2rem 0.7rem 2.3rem 0.7rem;
        width: 30rem;
        font-size: 1.5rem;
        font-weight: 400;
        color: #757575;
        font-family: Poppins, 'Source Sans Pro';
        background-color: #ffffff;
        margin-right: 9.6rem;
        height: 100%;
        border: solid 0.1rem #8f8f8f;
      }
      .auto-group-8bvz-ich {
        color: #757575;
        border-radius: 1rem;
        box-sizing: border-box;
        width: 30rem;
        height: 100%;
        padding: 0.9rem 1.9rem 1.7rem 1.9rem;
        white-space: nowrap;
        background-color: #ffffff;
        line-height: 1.5;
        font-family: Noto Sans, 'Source Sans Pro';
        border: solid 0.1rem #8f8f8f;
        font-size: 1.6rem;
        font-weight: 400;
        flex-shrink: 0;
      }
    }
    .auto-group-u8vv-BmB {
      width: 69.6rem;
      height: 5rem;
      position: absolute;
      left: 45.8025rem;
      top: 64.195rem;
      display: flex;
      align-items: center;

      .auto-group-oeyx-gxq {
        height: 100%;
        display: flex;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 9.6rem;
        box-sizing: border-box;
        padding: 0.9rem 0.2rem 1.4rem 0.9rem;
        align-items: center;
        border: solid 0.1rem #8f8f8f;

        .email-R9j {
          flex-shrink: 0;
          margin: 0.2rem 11.6rem 0rem 0rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 0.9666666667;
          color: #757575;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .um5acma-wds {
          display: flex;
          flex-shrink: 0;
          font-weight: 400;
          line-height: 1.3029999733;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          font-size: 2rem;
          white-space: nowrap;
          align-items: baseline;

          .um5acma-wds-sub-0 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #6f6f6f;
            font-family: Inika, 'Source Sans Pro';
          }
          .um5acma-wds-sub-1 {
            font-family: Inika, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #d93f21;
          }
        }
      }
      .auto-group-5bjh-qsf {
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        font-weight: 400;
        background-color: #ffffff;
        border: solid 0.1rem #8f8f8f;
        border-radius: 1rem;
        width: 30rem;
        font-size: 1.5rem;
        color: #757575;
        white-space: nowrap;
        font-family: Poppins, 'Source Sans Pro';
        padding: 1.2rem 1.9rem 2.3rem 1.9rem;
        line-height: 0.9666666667;
      }
    }
    .auto-group-b7gd-iAm {
      border-radius: 1rem;
      left: 67.7025rem;
      color: #000000;
      white-space: nowrap;
      justify-content: center;
      background-color: #87bbf7;
      position: absolute;
      top: 75.495rem;
      align-items: center;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      box-sizing: border-box;
      width: 24.4rem;
      height: 6.1rem;
      font-size: 2.4rem;
      line-height: 0.6041666667;
      border: solid 0.1rem #757575;
    }
  }
}
