
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.005rem;
}.frame-13-XV3 {
  box-sizing: border-box;
  padding-top: 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-gk29-fLM {
    margin: 0rem 1.702rem 0.205rem 0.003rem;
    width: calc(100% - 1.705rem);
    height: 16.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-wg9x-LhP {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-right: 82.6rem;
      height: 100%;
      display: flex;
      align-items: center;

      .alumni-1-5us {
        margin-bottom: 1.3rem;
        width: 14.9rem;
        height: 14.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ecole-normale-suprieure-DmB {
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 3.6rem;
        max-width: 9.4rem;
        font-size: 1.6rem;
        font-weight: 400;

        .ecole-normale-suprieure-DmB-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-DmB-sub-1 {
        }
        .ecole-normale-suprieure-DmB-sub-2 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-DmB-sub-3 {
        }
        .ecole-normale-suprieure-DmB-sub-4 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-DmB-sub-5 {
        }
      }
    }
    .auto-group-wg17-NZX {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .full-name-vb3 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .espace-exploration-des-rseaux-alumni-ens-Tay {
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        max-width: 35.4rem;
        font-size: 2.4rem;

        .espace-exploration-des-rseaux-alumni-ens-Tay-sub-0 {
        }
        .espace-exploration-des-rseaux-alumni-ens-Tay-sub-1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .espace-exploration-des-rseaux-alumni-ens-Tay-sub-2 {
        }
      }
      .auto-group-c13p-zUR {
        flex-shrink: 0;
        display: flex;
        align-items: flex-start;

        .icone-de-deconnexion-vecteur-symbole-vecteur-fleche-de-deconnexion-et-icone-de-porte-sortie-icone-de-signe-de-deconnexion-symbole-de-deconnexion-gratuit-vectoriel-1-ifK {
          margin-right: 1rem;
          width: 2.7rem;
          height: 3.7rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dconnexion-mNh {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.4rem;
        }
        .fr-6vm {
          font-weight: 400;
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 2.4rem;
          font-size: 2rem;
        }
      }
    }
  }
  .line-3-2pR {
    width: 100%;
    height: 0.1rem;
    background-color: #bebebe;
    flex-shrink: 0;
  }
  .auto-group-cqqm-aL9 {
    height: 143.295rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .line-4-6pH {
      width: 144.0006rem;
      height: 0.1rem;
      position: absolute;
      left: 0.0023rem;
      top: 8.195rem;
      background-color: #bebebe;
    }
    .auto-group-sw5t-Qa5 {
      top: 1.795rem;
      display: flex;
      align-items: center;
      width: 86.3rem;
      height: 3.2rem;
      position: absolute;
      left: 3.5026rem;

      .home-LCq {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        margin-right: 4.8rem;
        cursor: pointer;
      }
      .info-q9b {
        margin-right: 6.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        flex-shrink: 0;
        cursor: pointer;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
      }
      .profile-iz5 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .info-personnel-qYu {
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
      }
      .contact-kvm {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 5.4rem;
        cursor: pointer;
        color: #000000;
        white-space: nowrap;
      }
      .autre-profile-TaH {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
    }
    .auto-group-wmvh-ux5 {
      width: 132.1rem;
      height: 14.8rem;
      position: absolute;
      left: 0.0026rem;
      top: 124.395rem;
      display: flex;
      align-items: flex-start;

      .alumni-2-kxh {
        width: 14.9rem;
        height: 14.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ecole-normale-suprieure-6mf {
        margin: 2.6rem 64.5rem 0rem 0rem;
        max-width: 9.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;

        .ecole-normale-suprieure-6mf-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-6mf-sub-1 {
        }
        .ecole-normale-suprieure-6mf-sub-2 {
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
        }
        .ecole-normale-suprieure-6mf-sub-3 {
        }
        .ecole-normale-suprieure-6mf-sub-4 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-6mf-sub-5 {
        }
      }
      .servicealumnigmailma-4VX {
        flex-shrink: 0;
        margin: 2.5rem 6.9rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-212-647177587-ycV {
        margin-top: 2.5rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .line-5-gmo {
      position: absolute;
      left: 0.0026rem;
      top: 123.895rem;
      background-color: #0075fe;
      width: 144.0001rem;
      height: 0.2rem;
    }
    .auto-group-m3gu-bds {
      box-sizing: border-box;
      height: 5.2rem;
      top: 13.695rem;
      align-items: center;
      display: flex;
      border: solid 0.1rem #757575;
      background-color: #ffffff;
      border-radius: 1rem;
      padding: 1.3rem 48.2rem 1.2rem 1.3rem;
      width: 61.7rem;
      position: absolute;
      left: 45.2026rem;

      .th-1-VUM {
        margin: 0rem 1rem 0.2rem 0rem;
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .recherche-DfF {
        line-height: 1.3025;
        color: #757575;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .auto-group-2qiz-Jgh {
      position: absolute;
      left: 7.8026rem;
      top: 24.595rem;
      display: flex;
      align-items: center;
      width: 119.1rem;
      height: 21.3rem;

      .auto-group-gcmw-RmK {
        margin-right: 5.1rem;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        align-items: center;
        background-color: #2cbddd;

        .photo-profil-rond-1-LtH {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-VFP {
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
        }
        .email-2m7 {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
      }
      .auto-group-tkn9-953 {
        width: 25.8rem;
        height: 100%;
        align-items: center;
        display: flex;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 5.4rem;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        flex-direction: column;
        background-color: #2cbddd;

        .photo-profil-rond-2-SZw {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-mcD {
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .email-5cu {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
        }
      }
      .auto-group-e3cm-ChX {
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        height: 100%;
        display: flex;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 5.4rem;
        align-items: center;
        flex-direction: column;
        background-color: #2cbddd;
        box-sizing: border-box;

        .photo-profil-rond-3-KXF {
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 11.5rem;
        }
        .full-name-qkV {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
        .email-xKK {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
        }
      }
      .auto-group-1axs-Tms {
        align-items: center;
        display: flex;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        height: 100%;
        flex-direction: column;
        background-color: #2cbddd;
        box-sizing: border-box;

        .photo-profil-rond-4-P9j {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-jUV {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
        }
        .email-rJD {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
        }
      }
    }
    .auto-group-mk3p-B5b {
      width: 119.1rem;
      height: 21.4rem;
      position: absolute;
      left: 7.8026rem;
      top: 51.695rem;
      display: flex;
      align-items: center;

      .auto-group-36yf-u1b {
        flex-direction: column;
        background-color: #2cbddd;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0.1rem 5.1rem 0rem 0rem;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        align-items: center;
        display: flex;

        .photo-profil-rond-5-mJh {
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 11.5rem;
        }
        .full-name-hi9 {
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
        }
        .email-pnm {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
      }
      .auto-group-gadx-Yim {
        margin: 0rem 5.4rem 0.1rem 0rem;
        background-color: #2cbddd;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        align-items: center;

        .photo-profil-rond-6-rDf {
          vertical-align: top;
          flex-shrink: 0;
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
        }
        .full-name-PzH {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
        .email-Wp1 {
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-6thk-FFo {
        width: 25.8rem;
        background-color: #2cbddd;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0rem 5.4rem 0.1rem 0rem;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .photo-profil-rond-7-Mpd {
          vertical-align: top;
          flex-shrink: 0;
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
        }
        .full-name-Jzm {
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
        }
        .email-rmP {
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
        }
      }
      .auto-group-5ard-9Eh {
        display: flex;
        flex-direction: column;
        background-color: #2cbddd;
        border-radius: 1rem;
        margin-top: 0.1rem;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        box-sizing: border-box;
        align-items: center;
        flex-shrink: 0;

        .photo-profil-rond-8-DVT {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-A9o {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
        .email-JWu {
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-4v1j-c1o {
      top: 80.395rem;
      display: flex;
      align-items: center;
      width: 119.1rem;
      height: 21.3rem;
      position: absolute;
      left: 7.8026rem;

      .auto-group-5wxr-XeZ {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        margin-right: 5.1rem;
        box-sizing: border-box;
        align-items: center;
        background-color: #2cbddd;
        flex-shrink: 0;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        height: 100%;

        .photo-profil-rond-9-CVo {
          flex-shrink: 0;
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
        }
        .full-name-vgh {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
        }
        .email-feH {
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-fowx-CPK {
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        height: 100%;
        flex-direction: column;
        background-color: #2cbddd;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 5.4rem;
        box-sizing: border-box;
        align-items: center;
        display: flex;

        .photo-profil-rond-10-XAh {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-sEZ {
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .email-nsK {
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
        }
      }
      .auto-group-9jah-78u {
        width: 25.8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 5.4rem;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        align-items: center;
        background-color: #2cbddd;
        border-radius: 1rem;

        .photo-profil-rond-11-1k5 {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-xvD {
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
        }
        .email-Jz5 {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
      }
      .auto-group-ktwh-S4h {
        flex-direction: column;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        height: 100%;
        align-items: center;
        display: flex;
        background-color: #2cbddd;

        .photo-profil-rond-12-m6y {
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 11.5rem;
        }
        .full-name-iH7 {
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .email-2Yh {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
      }
    }
    .auto-group-qeft-YX3 {
      width: 20.9rem;
      display: flex;
      justify-content: center;
      background-color: #2cbddd;
      position: absolute;
      font-size: 3.2rem;
      border-radius: 1rem;
      color: #000000;
      align-items: center;
      height: 6.3rem;
      left: 57.3026rem;
      top: 109.095rem;
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem #757575;
      box-sizing: border-box;
    }
  }
}
