
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.005rem;
}.frame-11-U4q {
  box-sizing: border-box;
  padding-top: 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-jeyh-BV3 {
    flex-shrink: 0;
    margin: 0rem 1.702rem 0.205rem 0.003rem;
    width: calc(100% - 1.705rem);
    height: 16.1rem;
    display: flex;
    align-items: center;

    .auto-group-e5bw-J3s {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-right: 82.6rem;
      height: 100%;

      .alumni-1-Svm {
        margin-bottom: 1.3rem;
        width: 14.9rem;
        height: 14.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ecole-normale-suprieure-njj {
        flex-shrink: 0;
        margin-bottom: 3.6rem;
        max-width: 9.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';

        .ecole-normale-suprieure-njj-sub-0 {
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
        }
        .ecole-normale-suprieure-njj-sub-1 {
        }
        .ecole-normale-suprieure-njj-sub-2 {
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
        }
        .ecole-normale-suprieure-njj-sub-3 {
        }
        .ecole-normale-suprieure-njj-sub-4 {
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
        }
        .ecole-normale-suprieure-njj-sub-5 {
        }
      }
    }
    .auto-group-fvud-HTX {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .full-name-2vu {
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .espace-exploration-des-rseaux-alumni-ens-mtV {
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        max-width: 35.4rem;
        font-size: 2.4rem;
        font-weight: 400;

        .espace-exploration-des-rseaux-alumni-ens-mtV-sub-0 {
        }
        .espace-exploration-des-rseaux-alumni-ens-mtV-sub-1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .espace-exploration-des-rseaux-alumni-ens-mtV-sub-2 {
        }
      }
      .auto-group-zrdb-tbj {
        align-items: flex-start;
        flex-shrink: 0;
        display: flex;

        .icone-de-deconnexion-vecteur-symbole-vecteur-fleche-de-deconnexion-et-icone-de-porte-sortie-icone-de-signe-de-deconnexion-symbole-de-deconnexion-gratuit-vectoriel-1-eau {
          margin-right: 1rem;
          width: 2.7rem;
          height: 3.7rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dconnexion-KS9 {
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.4rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .fr-3sw {
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 2.4rem;
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
  }
  .line-3-BUM {
    width: 100%;
    height: 0.1rem;
    background-color: #bebebe;
    flex-shrink: 0;
  }
  .auto-group-ef5j-WmX {
    height: 143.295rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .line-4-fPX {
      left: 0.0023rem;
      top: 8.195rem;
      background-color: #bebebe;
      width: 144.0006rem;
      height: 0.1rem;
      position: absolute;
    }
    .auto-group-ihoo-AbB {
      display: flex;
      align-items: center;
      width: 87.7rem;
      height: 3.2rem;
      position: absolute;
      left: 3.5026rem;
      top: 1.795rem;

      .home-tXB {
        flex-shrink: 0;
        margin-right: 4.8rem;
        font-size: 2.4rem;
        font-family: Inika, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        cursor: pointer;
        font-weight: 400;
        line-height: 1.3025;
      }
      .info-bRb {
        margin-right: 6.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        cursor: pointer;
        line-height: 1.3025;
        white-space: nowrap;
      }
      .profile-jXo {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.5rem;
      }
      .info-personnel-55s {
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.4rem;
        font-size: 2.4rem;
      }
      .contact-1VK {
        margin-right: 6.8rem;
        cursor: pointer;
        font-size: 2.4rem;
        line-height: 1.3025;
        color: #000000;
        font-weight: 400;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .autre-profile-kSu {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
      }
    }
    .auto-group-5yx1-GRF {
      width: 132.1rem;
      height: 14.8rem;
      position: absolute;
      left: 0.0026rem;
      top: 124.395rem;
      display: flex;
      align-items: flex-start;

      .alumni-2-9zq {
        width: 14.9rem;
        height: 14.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ecole-normale-suprieure-uDK {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 2.6rem 64.5rem 0rem 0rem;
        max-width: 9.4rem;

        .ecole-normale-suprieure-uDK-sub-0 {
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
        }
        .ecole-normale-suprieure-uDK-sub-1 {
        }
        .ecole-normale-suprieure-uDK-sub-2 {
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
        }
        .ecole-normale-suprieure-uDK-sub-3 {
        }
        .ecole-normale-suprieure-uDK-sub-4 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-uDK-sub-5 {
        }
      }
      .servicealumnigmailma-pd7 {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 2.5rem 6.9rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
      }
      .item-212-647177587-XXX {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 2.5rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
      }
    }
    .line-5-3km {
      position: absolute;
      left: 0.0026rem;
      top: 123.895rem;
      background-color: #0075fe;
      width: 144.0001rem;
      height: 0.2rem;
    }
    .auto-group-yuqb-Bry {
      width: 90.8rem;
      height: 108.5011rem;
      position: absolute;
      left: 5.9026rem;
      top: 10.7944rem;
      display: flex;
      align-items: flex-start;

      .auto-group-yxlm-KiH {
        margin: 0.801rem 1.349rem 0rem 0rem;
        width: 33.2rem;
        flex-shrink: 0;

        .photo-profil-rond-1-38V {
          margin: 0rem 0rem 9.9rem 0.9rem;
          width: 25rem;
          height: 24.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-31wq-vxy {
          margin: 0rem 0rem 4.7rem 0.9rem;
          width: calc(100% - 0.9rem);
          display: flex;
          align-items: center;

          .email-env-1345971-1-4pH {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1rem 0.2rem 0rem;
            width: 3.3rem;
            height: 2.7rem;
          }
          .emaildutilisateurum5acma-Pbf {
            font-weight: 400;
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.2rem;
            font-size: 2rem;
          }
        }
        .auto-group-umko-iP3 {
          margin: 0rem 12.2rem 1.9rem 0rem;
          width: calc(100% - 12.2rem);
          display: flex;
          align-items: center;

          .icne-solide-noire-pour-le-lieu-de-naissance-et-la-terre-l-indigne-mre-patrie-rondin-150550524-1-SZw {
            width: 5.2rem;
            height: 4.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .lieudenaissance-rNm {
            margin-bottom: 0.4rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-l6hp-PNh {
          margin: 0rem 12.1rem 3.2rem 0.9rem;
          width: calc(100% - 13rem);
          display: flex;
          align-items: flex-start;

          .item-2195392-1-6Y1 {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.9rem;
          }
          .datedenaissance-S65 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #000000;
            font-family: Inika, 'Source Sans Pro';
          }
        }
        .auto-group-jeup-ai5 {
          margin: 0rem 10.8rem 3.4rem 0.9rem;
          width: calc(100% - 11.7rem);
          display: flex;
          align-items: center;

          .phone-icon-png-1-iZP {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 3.5rem;
            height: 3.4rem;
            object-fit: cover;
          }
          .numrotelephone-DFF {
            font-family: Inika, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.3rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #000000;
          }
        }
        .genre-male-kFB {
          margin-left: 5.2rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .line-7-649 {
        margin-right: 4.0509rem;
        width: 0.1rem;
        height: 108.5011rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .auto-group-igwv-Eg9 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 2.7006rem;

        .informations-professionnels-C7B {
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 29.4rem;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.3025;
        }
        .comptences-LDP {
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 32.1rem;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.3025;
        }
        .loisirs-4fB {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
      }
    }
  }
}
