
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-6-ghw {
  width: 100%;
  height: 90rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-as2y-217 {
    height: 51.8rem;
    position: absolute;
    left: 0;
    top: 13.8rem;
    width: 147.2rem;

    .line-1-jgD {
      position: absolute;
      left: 0;
      top: 0.25rem;
      background-color: rgba(191, 191, 191, 0.4499999881);
      width: 144.0001rem;
      height: 0.1rem;
    }
    .bienvenue-sur-la-plateforme-GRF {
      position: absolute;
      top: 13rem;
      line-height: 1.3025;
      white-space: nowrap;
      width: 47.1rem;
      height: 4.7rem;
      left: 3rem;
      font-size: 3.6rem;
      font-weight: 400;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
    }
    .exploration-des-rseaux-alumni-AWd {
      width: 59.9rem;
      top: 21.3rem;
      font-weight: 400;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      height: 5.3rem;
      position: absolute;
      left: 3.0001rem;
      font-size: 4rem;
      color: #000000;
      white-space: nowrap;
    }
    .imageaccueil1-1-fTP {
      width: 56.5rem;
      height: 50.9rem;
      position: absolute;
      left: 90.7rem;
      top: 0.9rem;
      object-fit: cover;
      vertical-align: top;
      opacity: 0.45;
    }
    .rectangle-2-wfo {
      left: 25.1rem;
      top: 0;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #f4f4f4;
      width: 81.4rem;
      height: 36.9rem;
      position: absolute;
    }
    .group-421-GTB {
      padding: 2.5rem 2.3rem 2.5rem 35.7rem;
      width: 40rem;
      left: 44.8rem;
      top: 18.3rem;
      border: solid 0.1rem #d9d9d9;
      background-color: #ffffff;
      box-sizing: border-box;
      height: 7rem;
      position: absolute;
      border-radius: 1rem;

      .blind-1-m93 {
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 1.9999rem;
      }
    }
    .ferme-x-gG1 {
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      color: #0075fe;
      align-items: baseline;
      font-size: 2rem;
      display: flex;
      height: 2.7rem;
      position: absolute;
      top: 2.2rem;
      font-weight: 400;
      line-height: 1.3025;
      width: 8.3rem;
      left: 94.8rem;

      .ferme-x-gG1-sub-0 {
      }
      .ferme-x-gG1-sub-1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Imprima, 'Source Sans Pro';
      }
    }
    .sign-up-details-nyF {
      width: 40.0001rem;
      height: 24.3rem;
      position: absolute;
      left: 44.8rem;
      top: 9.6rem;

      .auto-group-rexj-iru {
        margin: 0rem 0rem 4.3rem 0rem;
        width: calc(100% - 0.0001rem);
        height: 7rem;
        position: relative;

        .group-421-eVf {
          box-sizing: border-box;
          width: 40rem;
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ffffff;
          border-radius: 1rem;
          padding: 2.5rem 2.3rem 2.5rem 35.7rem;
          border: solid 0.1rem #d9d9d9;

          .blind-1-mKP {
            width: 2rem;
            height: 1.9999rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .new-password-SRX {
          position: absolute;
          left: 0.8999rem;
          font-weight: 400;
          line-height: 0.90625;
          white-space: nowrap;
          width: 11.6rem;
          height: 1.5rem;
          top: 2.3rem;
          font-size: 1.6rem;
          color: rgba(111, 111, 111, 0.8999999762);
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .confirm-password-LWu {
        margin: 0rem 0rem 6rem 1.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 0.90625;
        color: #6f6f6f;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .button-Pzy {
        width: calc(100% - 0.0001rem);
        cursor: pointer;
        font-family: Poppins, 'Source Sans Pro';
        height: 5.5rem;
        line-height: 0.725;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        font-size: 2rem;
        color: #5a5a5a;
        white-space: nowrap;
        display: flex;
        margin-right: 0.0001rem;
        font-weight: 400;
        border: solid 0.3rem #5a5a5a;
        box-sizing: border-box;
      }
    }
    .arrow-2-3Jq {
      vertical-align: top;
      width: 6.6068rem;
      height: 0;
      position: absolute;
      left: 25.2rem;
      top: 4.9rem;
      object-fit: contain;
    }
    .new-password-mkd {
      width: 16.5rem;
      height: 3.2rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      left: 33.7rem;
      top: 3.1rem;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-5jyx-t4Z {
    position: absolute;
    left: 1.5rem;
    top: 0;
    display: flex;
    align-items: center;
    width: 134rem;
    height: 12.5rem;

    .alumni-1-pD7 {
      opacity: 0.45;
      width: 14.9rem;
      height: 12.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .ecole-normale-suprieure-jay {
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 66.5rem 2.4rem 0rem;
      max-width: 9.4rem;
      font-size: 1.6rem;

      .ecole-normale-suprieure-jay-sub-0 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
      }
      .ecole-normale-suprieure-jay-sub-1 {
      }
      .ecole-normale-suprieure-jay-sub-2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
      }
      .ecole-normale-suprieure-jay-sub-3 {
      }
      .ecole-normale-suprieure-jay-sub-4 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
      }
      .ecole-normale-suprieure-jay-sub-5 {
      }
    }
    .je-minscris-QU9 {
      color: #0075fe;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.2rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3025;
    }
    .auto-group-dte9-Y4Z {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.3rem 0rem 6.3rem 0.3rem;

      .crayoncoloriage201511161276173090-1-Ei5 {
        margin: 0.6rem 5.4rem 0rem 0rem;
        opacity: 0.45;
        width: 1rem;
        height: 1.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-indo-Lm7 {
        margin: 0.6rem 6.8rem 0rem 0rem;
        width: 14.2rem;
        height: 2.3rem;
        position: relative;
        flex-shrink: 0;

        .je-me-connecte-Taq {
          position: absolute;
          left: 0;
          font-weight: 400;
          line-height: 1.3025;
          white-space: nowrap;
          font-family: Inika, 'Source Sans Pro';
          width: 11.3rem;
          height: 2.1rem;
          top: 0.2rem;
          font-size: 1.6rem;
          color: #0075fe;
        }
        .silhouette-ou-icne-masculine-de-visage-profil-d-avatar-homme-personne-inconnue-anonyme-illustration-vecteur-dans-l-ai-138787686-1-NC1 {
          width: 3rem;
          height: 2.3rem;
          position: absolute;
          left: 11.2rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          opacity: 0.45;
        }
      }
      .auto-group-7wfo-qLV {
        box-sizing: border-box;
        padding: 0.1rem 2.2rem 0.1rem 0.6rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        border: solid 0.1rem rgba(195, 195, 195, 0.4499999881);
        background-color: rgba(255, 255, 255, 0.4499999881);
        flex-shrink: 0;

        .language-course-icon-free-vector-1-ZXP {
          flex-shrink: 0;
          margin-top: 0.2rem;
          opacity: 0.45;
          width: 1.9rem;
          height: 1.7rem;
          object-fit: cover;
          vertical-align: top;
        }
        .fr-GAu {
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.3025;
        }
      }
    }
  }
  .auto-group-cws9-B2y {
    display: flex;
    align-items: center;
    width: 129.7rem;
    height: 12.9rem;
    position: absolute;
    left: 1.5rem;
    top: 74.2rem;

    .alumni-2-uUm {
      opacity: 0.45;
      width: 14.9rem;
      height: 12.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .ecole-normale-suprieure-d9s {
      max-width: 12.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3029999733;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 58.9rem 1.2rem 0rem;

      .ecole-normale-suprieure-d9s-sub-0 {
        font-family: Lemon, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
      }
      .ecole-normale-suprieure-d9s-sub-1 {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
      }
      .ecole-normale-suprieure-d9s-sub-2 {
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
      }
      .ecole-normale-suprieure-d9s-sub-3 {
        font-family: Inika, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
      }
      .ecole-normale-suprieure-d9s-sub-4 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
      }
      .ecole-normale-suprieure-d9s-sub-5 {
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .servicealumnigmailma-DQu {
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 6.2rem 1.2rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3025;
    }
    .item-212-647177587-YCH {
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      font-size: 2rem;
      font-weight: 400;
    }
  }
  .line-2-fnh {
    background-color: rgba(0, 117, 254, 0.4499999881);
    width: 144.0003rem;
    height: 0.2rem;
    position: absolute;
    left: 0;
    top: 73.85rem;
  }
}
