
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-7-PhK {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 127.7rem;

  .line-3-rL1 {
    width: 144.005rem;
    height: 0.1rem;
    position: absolute;
    left: 0;
    top: 16.805rem;
    background-color: #bebebe;
  }
  .auto-group-75ih-kgH {
    top: 0.5rem;
    display: flex;
    align-items: center;
    width: 142.3rem;
    height: 16.1rem;
    position: absolute;
    left: 0;

    .alumni-1-5Tf {
      width: 14.9rem;
      height: 14.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.3rem;
    }
    .ecole-normale-suprieure-cCh {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 82.6rem 3.6rem 0rem;
      max-width: 9.4rem;

      .ecole-normale-suprieure-cCh-sub-0 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
      }
      .ecole-normale-suprieure-cCh-sub-1 {
      }
      .ecole-normale-suprieure-cCh-sub-2 {
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
        font-size: 1.6rem;
      }
      .ecole-normale-suprieure-cCh-sub-3 {
      }
      .ecole-normale-suprieure-cCh-sub-4 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
      }
      .ecole-normale-suprieure-cCh-sub-5 {
      }
    }
    .auto-group-smgd-Keq {
      margin-top: 0.2rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .full-name-UGq {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
      }
      .espace-exploration-des-rseaux-alumni-ens-yzH {
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        max-width: 35.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;

        .espace-exploration-des-rseaux-alumni-ens-yzH-sub-0 {
        }
        .espace-exploration-des-rseaux-alumni-ens-yzH-sub-1 {
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
        }
        .espace-exploration-des-rseaux-alumni-ens-yzH-sub-2 {
        }
      }
      .auto-group-mhpm-X8d {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .icone-de-deconnexion-vecteur-symbole-vecteur-fleche-de-deconnexion-et-icone-de-porte-sortie-icone-de-signe-de-deconnexion-symbole-de-deconnexion-gratuit-vectoriel-1-rRo {
          width: 2.7rem;
          height: 3.7rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1rem;
        }
        .dconnexion-ttH {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #0075fe;
        }
        .fr-DvZ {
          font-weight: 400;
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 2.4rem;
          font-size: 2rem;
        }
      }
    }
  }
  .line-4-Yxq {
    width: 144.0006rem;
    height: 0.1rem;
    position: absolute;
    left: 0;
    top: 25.1rem;
    background-color: #bebebe;
  }
  .auto-group-fhx7-t17 {
    top: 29.8rem;
    width: 144.0001rem;
    height: 107.1rem;
    position: absolute;
    left: 0;

    .alumni-3-QVF {
      width: 14.9rem;
      height: 14.8rem;
      position: absolute;
      left: 0;
      top: 81.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .ecole-normale-suprieure-hDT {
      width: 9.4rem;
      position: absolute;
      left: 14.9rem;
      font-size: 1.6rem;
      font-family: Inika, 'Source Sans Pro';
      height: 6.3rem;
      top: 84.6rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;

      .ecole-normale-suprieure-hDT-sub-0 {
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
      }
      .ecole-normale-suprieure-hDT-sub-1 {
      }
      .ecole-normale-suprieure-hDT-sub-2 {
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
      }
      .ecole-normale-suprieure-hDT-sub-3 {
      }
      .ecole-normale-suprieure-hDT-sub-4 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #0075fe;
        font-family: Lemon, 'Source Sans Pro';
      }
      .ecole-normale-suprieure-hDT-sub-5 {
      }
    }
    .line-6-Syf {
      height: 0.2rem;
      position: absolute;
      left: 0rem;
      top: 78.4rem;
      background-color: #0075fe;
      width: 144.0001rem;
    }
    .servicealumnigmailma-xBK {
      width: 23.7rem;
      position: absolute;
      top: 87rem;
      font-size: 2rem;
      line-height: 1.3025;
      white-space: nowrap;
      height: 2.7rem;
      left: 90.3rem;
      font-weight: 400;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
    }
    .item-212-647177587-2gy {
      width: 12.7rem;
      position: absolute;
      left: 120.9rem;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.7rem;
      top: 87rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3025;
    }
    .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm {
      left: 2.7rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      width: 93.5rem;
      height: 105rem;
      position: absolute;
      top: 2.1rem;

      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-0 {
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-1 {
        line-height: 1.3025;
        color: #0075fe;
        font-family: Inika, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-2 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #0075fe;
        font-family: Inika, 'Source Sans Pro';
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-3 {
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-4 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-5 {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #0075fe;
        font-family: Inika, 'Source Sans Pro';
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-6 {
        line-height: 1.3025;
        color: #0075fe;
        font-family: Inika, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-7 {
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-8 {
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-9 {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-10 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #0075fe;
        font-family: Inika, 'Source Sans Pro';
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-11 {
        color: #0075fe;
        font-family: Inika, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-12 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-13 {
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-14 {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-15 {
      }
      .bienvenue-sur-lespace-exploration-des-rseaux-alumni-de-lcole-normale-suprieure-ens-un-lieu-ddi-la-dcouverte-et-la-connexion-au-sein-de-notre-communaut-mondiale-danciens-lves-notre-mission-notre-mission-est-de-crer-une-plateforme-dynamique-o-les-liens-perdurent-au-del-des-murs-de-luniversit-nous-aspirons-inspirer-les-tudiants-actuels-et-futurs-en-mettant-en-lumire-les-succs-varis-de-nos-anciens-diplms-tout-en-facilitant-les-connexions-et-les-collaborations-professionnelles-ce-que-nous-offrons-exploration-des-parcours-plongez-dans-les-rcits-fascinants-de-nos-alumni-explorant-leurs-diverses-trajectoires-professionnelles-et-personnelles-dcouvrez-comment-ils-ont-appliqu-leurs-connaissances-acquises-lens-dans-le-monde-rel-engagez-vous-avec-nous-rejoignez-nous-dans-cette-aventure-passionnante-de-dcouverte-et-de-connexion-explorez-les-profils-participez-des-vnements-partagez-vos-succs-et-contribuez-la-croissance-continue-de-notre-communaut-alumni-connectons-nous-pour-grandir-ensemble-lquipe-de-ens-alumni-LSm-sub-16 {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3025;
      }
    }
    .de9dc9-7870-4e8d-bcff-91da88d87cb4-1-Xyj {
      object-fit: cover;
      vertical-align: top;
      width: 41rem;
      height: 52.6rem;
      position: absolute;
      left: 103rem;
      top: 0;
    }
  }
  .auto-group-q5vj-eoT {
    width: 85.5rem;
    height: 3.2rem;
    position: absolute;
    left: 3.5rem;
    top: 18.3rem;
    display: flex;
    align-items: center;

    .home-YP3 {
      cursor: pointer;
      font-size: 2.4rem;
      font-family: Inika, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 4.8rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      white-space: nowrap;
    }
    .info-FYM {
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.8rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
    }
    .profile-b6R {
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
    }
    .info-personnel-L41 {
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.3025;
      margin-right: 5.4rem;
    }
    .contact-3DK {
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 4.6rem;
      font-size: 2.4rem;
      cursor: pointer;
      white-space: nowrap;
    }
    .autre-profile-y6y {
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
    }
  }
}
