
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.005rem;
}.frame-12-mgd {
  padding-top: 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;

  .auto-group-vbuv-uH3 {
    height: 16.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 1.702rem 0.205rem 0.003rem;
    width: calc(100% - 1.705rem);

    .auto-group-6gtb-1qs {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-right: 82.6rem;
      height: 100%;
      display: flex;
      align-items: center;

      .alumni-1-NAd {
        margin-bottom: 1.3rem;
        width: 14.9rem;
        height: 14.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ecole-normale-suprieure-5Kw {
        margin-bottom: 3.6rem;
        max-width: 9.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;

        .ecole-normale-suprieure-5Kw-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-5Kw-sub-1 {
        }
        .ecole-normale-suprieure-5Kw-sub-2 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-5Kw-sub-3 {
        }
        .ecole-normale-suprieure-5Kw-sub-4 {
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
        }
        .ecole-normale-suprieure-5Kw-sub-5 {
        }
      }
    }
    .auto-group-4v4h-jxD {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .full-name-VgV {
        margin-bottom: 0.6rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .espace-exploration-des-rseaux-alumni-ens-dnh {
        margin-bottom: 0.9rem;
        max-width: 35.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;

        .espace-exploration-des-rseaux-alumni-ens-dnh-sub-0 {
        }
        .espace-exploration-des-rseaux-alumni-ens-dnh-sub-1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .espace-exploration-des-rseaux-alumni-ens-dnh-sub-2 {
        }
      }
      .auto-group-sdjh-iBs {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .icone-de-deconnexion-vecteur-symbole-vecteur-fleche-de-deconnexion-et-icone-de-porte-sortie-icone-de-signe-de-deconnexion-symbole-de-deconnexion-gratuit-vectoriel-1-fso {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 2.7rem;
          height: 3.7rem;
          cursor: pointer;
          object-fit: cover;
        }
        .dconnexion-YRo {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
        }
        .fr-UqF {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 2.4rem;
        }
      }
    }
  }
  .line-3-PxD {
    width: 100%;
    height: 0.1rem;
    background-color: #bebebe;
    flex-shrink: 0;
  }
  .auto-group-htem-Y4R {
    width: 100%;
    height: 143.295rem;
    position: relative;
    flex-shrink: 0;

    .line-4-ssP {
      position: absolute;
      left: 0.0023rem;
      top: 8.195rem;
      background-color: #bebebe;
      width: 144.0006rem;
      height: 0.1rem;
    }
    .auto-group-ewe1-1ih {
      align-items: center;
      width: 86.3rem;
      height: 3.2rem;
      position: absolute;
      left: 3.5026rem;
      top: 1.795rem;
      display: flex;

      .home-Xww {
        font-weight: 400;
        line-height: 1.3025;
        margin-right: 4.8rem;
        cursor: pointer;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        color: #000000;
      }
      .info-G8q {
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        margin-right: 6.8rem;
        cursor: pointer;
        font-size: 2.4rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .profile-Z7w {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .info-personnel-56H {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
      }
      .contact-DTP {
        font-size: 2.4rem;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
        margin-right: 5.4rem;
        cursor: pointer;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .autre-profile-MZb {
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .auto-group-mdir-JDw {
      position: absolute;
      left: 0.0026rem;
      top: 124.395rem;
      display: flex;
      align-items: flex-start;
      width: 132.1rem;
      height: 14.8rem;

      .alumni-2-dGD {
        width: 14.9rem;
        height: 14.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ecole-normale-suprieure-BHj {
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 2.6rem 64.5rem 0rem 0rem;
        max-width: 9.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;

        .ecole-normale-suprieure-BHj-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-BHj-sub-1 {
        }
        .ecole-normale-suprieure-BHj-sub-2 {
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
        }
        .ecole-normale-suprieure-BHj-sub-3 {
        }
        .ecole-normale-suprieure-BHj-sub-4 {
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
        }
        .ecole-normale-suprieure-BHj-sub-5 {
        }
      }
      .servicealumnigmailma-Tny {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 2.5rem 6.9rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .item-212-647177587-yWR {
        flex-shrink: 0;
        margin-top: 2.5rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .line-5-VzZ {
      left: 0.0026rem;
      top: 123.895rem;
      background-color: #0075fe;
      width: 144.0001rem;
      height: 0.2rem;
      position: absolute;
    }
    .auto-group-h9vb-nCy {
      width: 61.7rem;
      height: 5.2rem;
      left: 45.2026rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #757575;
      box-sizing: border-box;
      padding: 1.3rem 48.2rem 1.2rem 1.3rem;
      position: absolute;
      top: 13.695rem;
      background-color: #ffffff;
      border-radius: 1rem;

      .th-1-1Ld {
        margin: 0rem 1rem 0.2rem 0rem;
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .recherche-ikq {
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #757575;
      }
    }
    .auto-group-taqh-Rv9 {
      width: 119.1rem;
      height: 21.3rem;
      position: absolute;
      left: 7.8026rem;
      top: 24.595rem;
      display: flex;
      align-items: center;

      .auto-group-byfj-ZFf {
        align-items: center;
        display: flex;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 5.1rem;
        width: 25.8rem;
        height: 100%;
        background-color: #2cbddd;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        flex-direction: column;

        .photo-profil-rond-1-UNd {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-CJd {
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .email-iGy {
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-brad-deq {
        flex-shrink: 0;
        margin-right: 5.4rem;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-color: #2cbddd;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        display: flex;
        border-radius: 1rem;

        .photo-profil-rond-2-Z2h {
          vertical-align: top;
          flex-shrink: 0;
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
        }
        .full-name-6YR {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
        .email-EuX {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
        }
      }
      .auto-group-lyff-jrH {
        box-sizing: border-box;
        width: 25.8rem;
        display: flex;
        background-color: #2cbddd;
        margin-right: 5.4rem;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        border-radius: 1rem;
        flex-shrink: 0;

        .photo-profil-rond-3-Rj7 {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-NeM {
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .email-WkZ {
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .auto-group-v6qf-EwT {
        width: 25.8rem;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        height: 100%;
        align-items: center;
        background-color: #2cbddd;
        flex-shrink: 0;

        .photo-profil-rond-4-mgV {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-KT7 {
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
        }
        .email-cSD {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
        }
      }
    }
    .auto-group-rekb-Xp5 {
      left: 7.8026rem;
      top: 51.695rem;
      display: flex;
      align-items: center;
      width: 119.1rem;
      height: 21.4rem;
      position: absolute;

      .auto-group-qeyo-FVB {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.1rem 5.1rem 0rem 0rem;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        align-items: center;
        background-color: #2cbddd;
        border-radius: 1rem;

        .photo-profil-rond-5-vrD {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 11.5rem;
          height: 13.1rem;
        }
        .full-name-sWZ {
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .email-oQD {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
        }
      }
      .auto-group-nmhj-uCM {
        margin: 0rem 5.4rem 0.1rem 0rem;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        background-color: #2cbddd;
        border-radius: 1rem;
        flex-shrink: 0;
        align-items: center;
        display: flex;
        flex-direction: column;

        .photo-profil-rond-6-Q97 {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-M4M {
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
        }
        .email-Hih {
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
        }
      }
      .auto-group-hsms-cW5 {
        align-items: center;
        display: flex;
        margin: 0rem 5.4rem 0.1rem 0rem;
        box-sizing: border-box;
        width: 25.8rem;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        flex-direction: column;
        background-color: #2cbddd;

        .photo-profil-rond-7-Vpm {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-oKf {
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
        }
        .email-YY9 {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
      }
      .auto-group-dqmo-qXF {
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 0.1rem;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        width: 25.8rem;
        background-color: #2cbddd;
        border-radius: 1rem;

        .photo-profil-rond-8-7Ds {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 11.5rem;
          height: 13.1rem;
        }
        .full-name-qvZ {
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
        }
        .email-b93 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
        }
      }
    }
    .auto-group-umey-vBK {
      left: 7.8026rem;
      top: 80.395rem;
      display: flex;
      align-items: center;
      width: 119.1rem;
      height: 21.3rem;
      position: absolute;

      .auto-group-azgd-QcH {
        background-color: #2cbddd;
        margin-right: 5.1rem;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        flex-direction: column;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        display: flex;
        border-radius: 1rem;
        flex-shrink: 0;

        .photo-profil-rond-9-jPf {
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 11.5rem;
        }
        .full-name-Us3 {
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .email-Dpd {
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
        }
      }
      .auto-group-7gwm-j2H {
        height: 100%;
        display: flex;
        background-color: #2cbddd;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 5.4rem;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;
        align-items: center;
        flex-direction: column;

        .photo-profil-rond-10-dtM {
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 11.5rem;
        }
        .full-name-AdP {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
        }
        .email-WhF {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
        }
      }
      .auto-group-rcdo-Sau {
        width: 25.8rem;
        display: flex;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-color: #2cbddd;
        margin-right: 5.4rem;

        .photo-profil-rond-11-xZF {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-ujP {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
        }
        .email-46V {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
        }
      }
      .auto-group-zkpd-6os {
        align-items: center;
        display: flex;
        background-color: #2cbddd;
        box-sizing: border-box;
        height: 100%;
        flex-direction: column;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 0rem 7.2rem 1.6rem 7.1rem;
        width: 25.8rem;

        .photo-profil-rond-12-1A9 {
          width: 11.5rem;
          height: 13.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .full-name-x5P {
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .email-U3j {
          line-height: 1.3025;
          color: #000000;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-xjg9-NQ1 {
      width: 20.9rem;
      font-size: 3.2rem;
      line-height: 1.3025;
      color: #000000;
      align-items: center;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      box-sizing: border-box;
      background-color: #2cbddd;
      font-weight: 400;
      justify-content: center;
      border: solid 0.1rem #757575;
      height: 6.3rem;
      position: absolute;
      left: 57.3026rem;
      top: 109.095rem;
      border-radius: 1rem;
    }
  }
}
