
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.005rem;
}.frame-4-ach {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 0.5rem;

  .auto-group-fkrf-Job {
    margin: 0rem 1.702rem 0.205rem 0.003rem;
    width: calc(100% - 1.705rem);
    height: 16.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-ccmp-Pa9 {
      box-sizing: border-box;
      padding-right: 82.6rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .alumni-1-YC9 {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.3rem;
        width: 14.9rem;
        height: 14.8rem;
      }
      .ecole-normale-suprieure-4RP {
        max-width: 9.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 3.6rem;

        .ecole-normale-suprieure-4RP-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-4RP-sub-1 {
        }
        .ecole-normale-suprieure-4RP-sub-2 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-4RP-sub-3 {
        }
        .ecole-normale-suprieure-4RP-sub-4 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-4RP-sub-5 {
        }
      }
    }
    .auto-group-7elq-Hqs {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .full-name-eAd {
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
      }
      .espace-exploration-des-rseaux-alumni-ens-BAZ {
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        max-width: 35.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';

        .espace-exploration-des-rseaux-alumni-ens-BAZ-sub-0 {
        }
        .espace-exploration-des-rseaux-alumni-ens-BAZ-sub-1 {
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
        }
        .espace-exploration-des-rseaux-alumni-ens-BAZ-sub-2 {
        }
      }
      .auto-group-vx1w-Hso {
        align-items: flex-start;
        flex-shrink: 0;
        display: flex;

        .icone-de-deconnexion-vecteur-symbole-vecteur-fleche-de-deconnexion-et-icone-de-porte-sortie-icone-de-signe-de-deconnexion-symbole-de-deconnexion-gratuit-vectoriel-1-DWZ {
          height: 3.7rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 2.7rem;
        }
        .dconnexion-sr1 {
          flex-shrink: 0;
          margin-right: 14.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
        }
        .fr-cHo {
          font-weight: 400;
          line-height: 1.3025;
          color: #0075fe;
          font-family: Inika, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 2.4rem;
          font-size: 2rem;
        }
      }
    }
  }
  .line-3-92q {
    flex-shrink: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #bebebe;
  }
  .auto-group-me9o-G7T {
    width: 100%;
    height: 99.095rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-hjtw-1Kw {
      position: absolute;
      left: 1.5025rem;
      top: 82.695rem;
      display: flex;
      align-items: center;
      width: 132.1rem;
      height: 14.8rem;

      .alumni-2-WGh {
        width: 14.9rem;
        height: 14.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ecole-normale-suprieure-43K {
        flex-shrink: 0;
        margin: 0rem 64.5rem 2.3rem 0rem;
        max-width: 9.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';

        .ecole-normale-suprieure-43K-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-43K-sub-1 {
        }
        .ecole-normale-suprieure-43K-sub-2 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-43K-sub-3 {
        }
        .ecole-normale-suprieure-43K-sub-4 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #0075fe;
          font-family: Lemon, 'Source Sans Pro';
        }
        .ecole-normale-suprieure-43K-sub-5 {
        }
      }
      .servicealumnigmailma-Qeu {
        flex-shrink: 0;
        margin: 0rem 6.9rem 6.1rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-212-647177587-ubf {
        margin-bottom: 6.1rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .line-4-2wB {
      background-color: #bebebe;
      width: 144.0006rem;
      height: 0.1rem;
      position: absolute;
      left: 0.0023rem;
      top: 8.195rem;
    }
    .auto-group-81px-NVF {
      align-items: center;
      width: 85.9rem;
      height: 3.2rem;
      position: absolute;
      left: 3.5025rem;
      top: 1.795rem;
      display: flex;

      .home-6g9 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .info-3LV {
        cursor: pointer;
        flex-shrink: 0;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 6.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
      }
      .profile-mnH {
        margin-right: 6.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .info-personnel-hA9 {
        cursor: pointer;
        font-weight: 400;
        font-family: Inika, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 5.4rem;
        font-size: 2.4rem;
        line-height: 1.3025;
        color: #000000;
        white-space: nowrap;
      }
      .contact-2TK {
        cursor: pointer;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5rem;
        font-weight: 400;
        color: #000000;
        font-size: 2.4rem;
      }
      .autre-profile-wKP {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .line-5-g25 {
      width: 144.0001rem;
      height: 0.2rem;
      position: absolute;
      left: 0.0026rem;
      top: 77.095rem;
      background-color: #0075fe;
    }
    .auto-group-6hbw-D21 {
      height: 40rem;
      position: absolute;
      left: 0.0025rem;
      top: 11.595rem;
      display: flex;
      align-items: flex-start;
      width: 144rem;

      .auto-group-ycu7-uQd {
        margin: 1.1rem 20.3rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .bienvenue-dans-lespace-exploration-des-rseaux-alumni-de-lens-cK3 {
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 4.8rem;
          max-width: 78.6rem;
          font-size: 3.2rem;
        }
        .bienvenue-sur-la-plateforme-qui-vous-connecte-avec-le-vaste-rseau-des-anciens-lves-de-lcole-normale-suprieure-ici-lexploration-va-au-del-des-frontires-acadmiques-offrant-une-plonge-captivante-dans-les-parcours-divers-et-inspirants-de-nos-anciens-tudiants-h5b {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.4rem;
          max-width: 83.1rem;
        }
      }
      .f5bc287b-1f83-4cf4-ade3-9772f0557ea0-1-fgd {
        width: 40.2rem;
        height: 40rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
