html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-3-Euo {
  width: 100%;
  height: 90rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.frame-3-Euo .auto-group-bgz7-MjX {
  box-sizing: border-box;
  padding: 0rem 0rem 5.45rem 0rem;
  width: 144.0003rem;
  height: 73.85rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 {
  margin: 0rem 7rem 0.25rem 0rem;
  height: 12.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .alumni-1-yF7 {
  width: 14.9rem;
  height: 12.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .ecole-normale-suprieure-vAM {
  margin: 0rem 66.5rem 2.4rem 0rem;
  max-width: 9.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .ecole-normale-suprieure-vAM .ecole-normale-suprieure-vAM-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .ecole-normale-suprieure-vAM .ecole-normale-suprieure-vAM-sub-1 {
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .ecole-normale-suprieure-vAM .ecole-normale-suprieure-vAM-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .ecole-normale-suprieure-vAM .ecole-normale-suprieure-vAM-sub-3 {
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .ecole-normale-suprieure-vAM .ecole-normale-suprieure-vAM-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .ecole-normale-suprieure-vAM .ecole-normale-suprieure-vAM-sub-5 {
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .je-minscris-M2h {
  margin-bottom: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .auto-group-ped7-g4y {
  box-sizing: border-box;
  padding: 3.3rem 0rem 6.3rem 0.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .auto-group-ped7-g4y .crayoncoloriage201511161276173090-1-CZ7 {
  margin: 0.6rem 5.4rem 0rem 0rem;
  width: 1rem;
  height: 1.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .auto-group-ped7-g4y .auto-group-jaem-6uP {
  margin: 0.6rem 6.8rem 0rem 0rem;
  width: 14.2rem;
  height: 2.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .auto-group-ped7-g4y .auto-group-jaem-6uP .je-me-connecte-o37 {
  width: 11.3rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .auto-group-ped7-g4y .auto-group-jaem-6uP .silhouette-ou-icne-masculine-de-visage-profil-d-avatar-homme-personne-inconnue-anonyme-illustration-vecteur-dans-l-ai-138787686-1-VAq {
  width: 3rem;
  height: 2.3rem;
  position: absolute;
  left: 11.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .auto-group-ped7-g4y .auto-group-nvid-mPF {
  box-sizing: border-box;
  padding: 0.1rem 1.8rem 0.1rem 0.6rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #c3c3c3;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .auto-group-ped7-g4y .auto-group-nvid-mPF .language-course-icon-free-vector-1-hGu {
  margin: 0.2rem 0.4rem 0rem 0rem;
  width: 1.9rem;
  height: 1.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-bbmk-FK7 .auto-group-ped7-g4y .auto-group-nvid-mPF .fr-CjT {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .line-1-iSu {
  margin: 0rem 0rem 0.75rem 0rem;
  width: calc(100% - 0.0001rem);
  height: 0.1rem;
  background-color: #bfbfbf;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT {
  margin: 0rem 38.188rem 0.8rem 35.8rem;
  width: calc(100% - 73.9884rem);
  height: 52.5rem;
  position: relative;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .group-421-Xv9 {
  box-sizing: border-box;
  padding: 2.004rem 1.935rem 1.506rem 1.935rem;
  width: 43rem;
  height: 5.0099rem;
  position: absolute;
  left: 11.4rem;
  top: 11.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.90625;
  color: #5a5a5a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 1rem;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .group-418-Zrq {
  box-sizing: border-box;
  padding: 2.004rem 1.948rem 1.506rem 1.948rem;
  width: 43.3rem;
  height: 5.0099rem;
  position: absolute;
  left: 11.4rem;
  top: 19.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.90625;
  color: #5a5a5a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 1rem;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .group-422-c4R {
  box-sizing: border-box;
  padding: 1.646rem 2.49rem 1.789rem 1.948rem;
  width: 43.3rem;
  height: 5.0099rem;
  position: absolute;
  left: 11.4rem;
  top: 27.4rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 1rem;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .group-422-c4R .password-W9o {
  margin: 0rem 28.997rem 0.074rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.90625;
  color: #5a5a5a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .group-422-c4R .blind-1-dER {
  margin-top: 0.1431rem;
  width: 2.1651rem;
  height: 1.4314rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .group-423-uBw {
  box-sizing: border-box;
  padding: 1.789rem 2.49rem 1.721rem 1.948rem;
  width: 43.3rem;
  height: 5.0099rem;
  position: absolute;
  left: 11.4rem;
  top: 35.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 1rem;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .group-423-uBw .confirm-password-Adf {
  margin-right: 22.0967rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 0.90625;
  color: #5a5a5a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}


  .frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .group-423-uBw .blind-1-u5T {
  margin-bottom: 0.0686rem;
  width: 2.1651rem;
  height: 1.4314rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}  

.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .button-ogd {
  width: 43.3rem;
  height: 4.1rem;
  position: absolute;
  left: 11.4rem;
  top: 48.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.4984374444;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #f4f4f4;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .commencez-2ZP {
  width: 23.1rem;
  height: 4.4rem;
  position: absolute;
  left: 20.7rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.8333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .commencez-2ZP .commencez-2ZP-sub-0 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2571428571;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .commencez-2ZP .commencez-2ZP-sub-1 {
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .commencer-est-facile-zuX {
  width: 16.7rem;
  height: 1.1rem;
  position: absolute;
  left: 23.4rem;
  top: 4.9rem;
  font-size: 1.5035rem;
  font-weight: 400;
  line-height: 0.7250000349;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .vector-12-g1f {
  width: 26.6118rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 45.3rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-3-Euo .auto-group-bgz7-MjX .sign-up-details-DuT .vector-13-2LR {
  width: 26.6118rem;
  height: 0;
  position: absolute;
  left: 43.4rem;
  top: 45.3rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-oqih-ABj {
  margin: 0rem 67.7rem 0rem 53.9rem;
  width: calc(100% - 121.6002rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-oqih-ABj .avoir-un-compte-GVf {
  margin-right: 5rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.0357142857;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-bgz7-MjX .auto-group-oqih-ABj .sign-in-Bcd {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0357142857;
  color: #db7a20;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-2arp-hay {
  width: 131rem;
  height: 12.9rem;
  position: absolute;
  left: 1.5002rem;
  top: 74.2rem;
  display: flex;
  align-items: center;
}
.frame-3-Euo .auto-group-2arp-hay .alumni-2-2NM {
  width: 14.9rem;
  height: 12.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-2arp-hay .ecole-normale-suprieure-AzM {
  margin: 0rem 61.3rem 1.2rem 0rem;
  max-width: 12.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3029999733;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-2arp-hay .ecole-normale-suprieure-AzM .ecole-normale-suprieure-AzM-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-3-Euo .auto-group-2arp-hay .ecole-normale-suprieure-AzM .ecole-normale-suprieure-AzM-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-3-Euo .auto-group-2arp-hay .ecole-normale-suprieure-AzM .ecole-normale-suprieure-AzM-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-3-Euo .auto-group-2arp-hay .ecole-normale-suprieure-AzM .ecole-normale-suprieure-AzM-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-3-Euo .auto-group-2arp-hay .ecole-normale-suprieure-AzM .ecole-normale-suprieure-AzM-sub-4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-3-Euo .auto-group-2arp-hay .ecole-normale-suprieure-AzM .ecole-normale-suprieure-AzM-sub-5 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-3-Euo .auto-group-2arp-hay .servicealumnigmailma-8bj {
  margin: 0rem 5.1rem 2rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-Euo .auto-group-2arp-hay .item-212-647177587-epy {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-Euo .line-2-kND {
  width: 144.0003rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 73.85rem;
  background-color: #0075fe;
}