
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-2-Vn9 {
  width: 100%;
  height: 90rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.frame-2-Vn9 .auto-group-1kr7-e9F {
  width: 147.2001rem;
  height: 65.6rem;
  position: absolute;
  left: 0;
  top: 0;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .line-1-MpM {
  width: 144.0001rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 12.75rem;
  background-color: rgba(191, 191, 191, 0.4499999881);
}
.frame-2-Vn9 .auto-group-1kr7-e9F .je-minscris-h7X {
  width: 8.8rem;
  height: 2.1rem;
  position: absolute;
  left: 92.3rem;
  top: 4.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .crayoncoloriage201511161276173090-1-PW9 {
  opacity: 0.45;
  width: 1rem;
  height: 1.3rem;
  position: absolute;
  left: 101.4rem;
  top: 4.4rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .je-me-connecte-5Ny {
  width: 11.3rem;
  height: 2.1rem;
  position: absolute;
  left: 107.8rem;
  top: 4.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .silhouette-ou-icne-masculine-de-visage-profil-d-avatar-homme-personne-inconnue-anonyme-illustration-vecteur-dans-l-ai-138787686-1-NN5 {
  opacity: 0.45;
  width: 3rem;
  height: 2.3rem;
  position: absolute;
  left: 119rem;
  top: 3.9rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .rectangle-1-3DK {
  width: 6.7rem;
  height: 2.9rem;
  position: absolute;
  left: 128.8rem;
  top: 3.3rem;
  border: solid 0.1rem rgba(195, 195, 195, 0.4499999881);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.4499999881);
}
.frame-2-Vn9 .auto-group-1kr7-e9F .fr-Yvm {
  width: 2rem;
  height: 2.1rem;
  position: absolute;
  left: 131.3rem;
  top: 3.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .language-course-icon-free-vector-1-RzZ {
  opacity: 0.45;
  width: 1.9rem;
  height: 1.7rem;
  position: absolute;
  left: 129.4rem;
  top: 3.6rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .alumni-1-wi1 {
  opacity: 0.45;
  width: 14.9rem;
  height: 12.5rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .ecole-normale-suprieure-SPs {
  width: 9.4rem;
  height: 6.3rem;
  position: absolute;
  left: 16.4rem;
  top: 1.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-1kr7-e9F .ecole-normale-suprieure-SPs .ecole-normale-suprieure-SPs-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-1kr7-e9F .ecole-normale-suprieure-SPs .ecole-normale-suprieure-SPs-sub-1 {
}
.frame-2-Vn9 .auto-group-1kr7-e9F .ecole-normale-suprieure-SPs .ecole-normale-suprieure-SPs-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-1kr7-e9F .ecole-normale-suprieure-SPs .ecole-normale-suprieure-SPs-sub-3 {
}
.frame-2-Vn9 .auto-group-1kr7-e9F .ecole-normale-suprieure-SPs .ecole-normale-suprieure-SPs-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-1kr7-e9F .ecole-normale-suprieure-SPs .ecole-normale-suprieure-SPs-sub-5 {
}
.frame-2-Vn9 .auto-group-1kr7-e9F .bienvenue-sur-la-plateforme-Ke1 {
  width: 47.1rem;
  height: 4.7rem;
  position: absolute;
  left: 3rem;
  top: 26.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .exploration-des-rseaux-alumni-LJD {
  width: 59.9rem;
  height: 5.3rem;
  position: absolute;
  left: 3rem;
  top: 33.8rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .imageaccueil1-1-ZRs {
  opacity: 0.45;
  width: 56.5rem;
  height: 50.9rem;
  position: absolute;
  left: 90.7rem;
  top: 14.7rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .rectangle-2-shT {
  width: 81.4rem;
  height: 61.2rem;
  position: absolute;
  left: 25.3rem;
  top: 4.4rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #f4f4f4;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .arrow-1-o5K {
  width: 4.0021rem;
  height: 5.0403rem;
  position: absolute;
  left: 25.3rem;
  top: 11.7rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .je-me-connecte-XX7 {
  width: 16.9rem;
  height: 3.2rem;
  position: absolute;
  left: 30.4rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .ferme-x-Deq {
  width: 8.3rem;
  height: 2.7rem;
  cursor: pointer;
  position: absolute;
  left: 95.3rem;
  top: 5.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .ferme-x-Deq .ferme-x-Deq-sub-0 {
}
.frame-2-Vn9 .auto-group-1kr7-e9F .ferme-x-Deq .ferme-x-Deq-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Imprima, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 {
  width: 58.3rem;
  height: 37.6rem;
  position: absolute;
  left: 35.3rem;
  top: 16rem;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .vector-12-pY9 {
  width: 19rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 25.3rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .vector-13-Aru {
  width: 19rem;
  height: 0;
  position: absolute;
  left: 39.3rem;
  top: 25.3rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .auto-group-zmdj-6Vf {
  width: 51.6rem;
  height: 2.3rem;
  position: absolute;
  left: 2rem;
  top: 26.6rem;
  display: flex;
  align-items: flex-end;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .auto-group-zmdj-6Vf .group-420-28R {
  margin: 0rem 24.7rem 0.3rem 0rem;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .auto-group-zmdj-6Vf .group-420-28R .auto-group-5hc5-vzV {
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding: 0.2rem;
  width: 4rem;
  height: 100%;
  border: solid 0.05rem #c9c9c9;
  background-color: #ebebeb;
  border-radius: 3.65rem;
  flex-shrink: 0;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .auto-group-zmdj-6Vf .group-420-28R .auto-group-5hc5-vzV .knob-20-oqK {
  width: 1.6rem;
  height: 1.6rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(51, 51, 51, 0.3000000119);
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .auto-group-zmdj-6Vf .group-420-28R .description-3Ds {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667;
  letter-spacing: 0.03rem;
  color: #1a1a1a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .auto-group-zmdj-6Vf .recover-password-xbj {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.0357142857;
  color: #d93f21;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .group-421-VLm {
  box-sizing: border-box;
  padding: 2.7rem 2.4rem 2.8rem 2.4rem;
  width: 40rem;
  height: 7rem;
  position: absolute;
  left: 9.5rem;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.0357142857;
  color: #5a5a5a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d9d9d9;
  background-color: #ffffff;
  border-radius: 1rem;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .group-418-tNu {
  box-sizing: border-box;
  padding: 2.5rem 2.3rem 2.5rem 2.4rem;
  width: 40rem;
  height: 7rem;
  position: absolute;
  left: 9.5rem;
  top: 9.1rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d9d9d9;
  background-color: #ffffff;
  border-radius: 1rem;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .group-418-tNu .password-Bcu {
  margin: 0rem 26.5rem 0.1rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.0357142857;
  color: #5a5a5a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .group-418-tNu .blind-1-W9P {
  width: 2rem;
  height: 1.9999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-details-iV7 .button-1bw {
  width: 40rem;
  height: 5.5rem;
  position: absolute;
  left: 8.8rem;
  top: 32.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.725;
  color: #5a5a5a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.3rem #5a5a5a;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .vous-navez-pas-de-compte--FFP {
  width: 20.3rem;
  height: 1.5rem;
  position: absolute;
  left: 49.1rem;
  top: 54.9rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.0357142857;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .sign-up-M3X {
  width: 5.8rem;
  height: 1.5rem;
  cursor: pointer;
  position: absolute;
  left: 70.6rem;
  top: 54.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.0357142857;
  color: #db7a20;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .um5acma-d13 {
  width: 12.5rem;
  height: 2.7rem;
  position: absolute;
  left: 85.5rem;
  top: 17.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #6f6f6f;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.frame-2-Vn9 .auto-group-1kr7-e9F .um5acma-d13 .um5acma-d13-sub-0 {
}
.frame-2-Vn9 .auto-group-1kr7-e9F .um5acma-d13 .um5acma-d13-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #d93f21;
  font-family: Inika, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-vthf-XVj {
  width: 132.2rem;
  height: 12.9rem;
  position: absolute;
  left: 1.5rem;
  top: 74.2rem;
  display: flex;
  align-items: center;
}
.frame-2-Vn9 .auto-group-vthf-XVj .alumni-2-FRj {
  opacity: 0.45;
  width: 14.9rem;
  height: 12.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-Vn9 .auto-group-vthf-XVj .ecole-normale-suprieure-PXw {
  margin: 0rem 61.5rem 1.2rem 0rem;
  max-width: 12.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3029999733;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-2-Vn9 .auto-group-vthf-XVj .ecole-normale-suprieure-PXw .ecole-normale-suprieure-PXw-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-vthf-XVj .ecole-normale-suprieure-PXw .ecole-normale-suprieure-PXw-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-vthf-XVj .ecole-normale-suprieure-PXw .ecole-normale-suprieure-PXw-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-vthf-XVj .ecole-normale-suprieure-PXw .ecole-normale-suprieure-PXw-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-vthf-XVj .ecole-normale-suprieure-PXw .ecole-normale-suprieure-PXw-sub-4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-vthf-XVj .ecole-normale-suprieure-PXw .ecole-normale-suprieure-PXw-sub-5 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-2-Vn9 .auto-group-vthf-XVj .servicealumnigmailma-Gn5 {
  margin: 0rem 6.1rem 1.2rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-Vn9 .auto-group-vthf-XVj .item-212-647177587-nkR {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-Vn9 .line-2-JCy {
  width: 144.0003rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 73.85rem;
  background-color: rgba(0, 117, 254, 0.4499999881);
}
