
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-1-Mwf {
  width: 100%;
  height: 90rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.frame-1-Mwf .line-1-n1P {
  width: 144.0001rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 12.75rem;
  background-color: #bfbfbf;
}
.frame-1-Mwf .auto-group-ulfb-TdK {
  width: 135rem;
  height: 12.5rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
  display: flex;
  align-items: center;
}
.frame-1-Mwf .auto-group-ulfb-TdK .alumni-1-PJ1 {
  margin-right: 1rem;
  width: 14.9rem;
  height: 12.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-ulfb-TdK .ecole-normale-suprieure-UqF {
  margin: 0rem 66.5rem 2.4rem 0rem;
  max-width: 9.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-ulfb-TdK .ecole-normale-suprieure-UqF .ecole-normale-suprieure-UqF-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-1-Mwf .auto-group-ulfb-TdK .ecole-normale-suprieure-UqF .ecole-normale-suprieure-UqF-sub-1 {
}
.frame-1-Mwf .auto-group-ulfb-TdK .ecole-normale-suprieure-UqF .ecole-normale-suprieure-UqF-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-1-Mwf .auto-group-ulfb-TdK .ecole-normale-suprieure-UqF .ecole-normale-suprieure-UqF-sub-3 {
}
.frame-1-Mwf .auto-group-ulfb-TdK .ecole-normale-suprieure-UqF .ecole-normale-suprieure-UqF-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-1-Mwf .auto-group-ulfb-TdK .ecole-normale-suprieure-UqF .ecole-normale-suprieure-UqF-sub-5 {
}
.frame-1-Mwf .auto-group-ulfb-TdK .je-minscris-qDs {
  margin-bottom: 2.2rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-ulfb-TdK .auto-group-nktj-gVP {
  box-sizing: border-box;
  padding: 3.3rem 0rem 6.3rem 0.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-ulfb-TdK .auto-group-nktj-gVP .crayoncoloriage201511161276173090-1-yzH {
  margin: 0.6rem 5.4rem 0rem 0rem;
  width: 1rem;
  height: 1.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-ulfb-TdK .auto-group-nktj-gVP .auto-group-rkdk-5Gd {
  margin: 0.6rem 6.8rem 0rem 0rem;
  width: 14.2rem;
  height: 2.3rem;
  position: relative;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-ulfb-TdK .auto-group-nktj-gVP .auto-group-rkdk-5Gd .je-me-connecte-mv9 {
  width: 11.3rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-Mwf .auto-group-ulfb-TdK .auto-group-nktj-gVP .auto-group-rkdk-5Gd .silhouette-ou-icne-masculine-de-visage-profil-d-avatar-homme-personne-inconnue-anonyme-illustration-vecteur-dans-l-ai-138787686-1-5fw {
  width: 3rem;
  height: 2.3rem;
  position: absolute;
  left: 11.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-Mwf .auto-group-ulfb-TdK .auto-group-nktj-gVP .auto-group-yrnm-M7f {
  box-sizing: border-box;
  padding: 0.1rem 2.2rem 0.1rem 0.6rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #c3c3c3;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-ulfb-TdK .auto-group-nktj-gVP .auto-group-yrnm-M7f .language-course-icon-free-vector-1-qYd {
  margin-top: 0.2rem;
  width: 1.9rem;
  height: 1.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-ulfb-TdK .auto-group-nktj-gVP .auto-group-yrnm-M7f .fr-8Gq {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-v2jm-pvM {
  width: 132.7rem;
  height: 12.9rem;
  position: absolute;
  left: 1.5rem;
  top: 74.2rem;
  display: flex;
  align-items: center;
}
.frame-1-Mwf .auto-group-v2jm-pvM .alumni-2-wk5 {
  width: 14.9rem;
  height: 12.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-v2jm-pvM .ecole-normale-suprieure-tfK {
  margin: 0rem 61.5rem 1.2rem 0rem;
  max-width: 12.8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3029999733;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-v2jm-pvM .ecole-normale-suprieure-tfK .ecole-normale-suprieure-tfK-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-1-Mwf .auto-group-v2jm-pvM .ecole-normale-suprieure-tfK .ecole-normale-suprieure-tfK-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-1-Mwf .auto-group-v2jm-pvM .ecole-normale-suprieure-tfK .ecole-normale-suprieure-tfK-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-1-Mwf .auto-group-v2jm-pvM .ecole-normale-suprieure-tfK .ecole-normale-suprieure-tfK-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-1-Mwf .auto-group-v2jm-pvM .ecole-normale-suprieure-tfK .ecole-normale-suprieure-tfK-sub-4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-1-Mwf .auto-group-v2jm-pvM .ecole-normale-suprieure-tfK .ecole-normale-suprieure-tfK-sub-5 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
}
.frame-1-Mwf .auto-group-v2jm-pvM .servicealumnigmailma-pjK {
  margin: 0rem 6.6rem 1.2rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-v2jm-pvM .item-212-647177587-LxZ {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-8a1f-cfB {
  width: 144.2rem;
  height: 50.9rem;
  position: absolute;
  left: 3rem;
  top: 14.7rem;
  display: flex;
  align-items: center;
}
.frame-1-Mwf .auto-group-8a1f-cfB .auto-group-kue9-whT {
  margin: 12.1rem 27.8rem 26.5rem 0rem;
  height: calc(100% - 38.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-8a1f-cfB .auto-group-kue9-whT .bienvenue-sur-la-plateforme-rJd {
  margin-bottom: 2.3rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-8a1f-cfB .auto-group-kue9-whT .exploration-des-rseaux-alumni-P3f {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-Mwf .auto-group-8a1f-cfB .imageaccueil1-1-unh {
  width: 56.5rem;
  height: 50.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-Mwf .line-2-FrZ {
  width: 144.0003rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 73.85rem;
  background-color: #0075fe;
}
