
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.005rem;
}.frame-11-U4q {
  box-sizing: border-box;
  padding-top: 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-11-U4q .auto-group-jeyh-BV3 {
  margin: 0rem 1.702rem 0.205rem 0.003rem;
  width: calc(100% - 1.705rem);
  height: 16.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-e5bw-J3s {
  box-sizing: border-box;
  padding-right: 82.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-e5bw-J3s .alumni-1-Svm {
  margin-bottom: 1.3rem;
  width: 14.9rem;
  height: 14.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-e5bw-J3s .ecole-normale-suprieure-njj {
  margin-bottom: 3.6rem;
  max-width: 9.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-e5bw-J3s .ecole-normale-suprieure-njj .ecole-normale-suprieure-njj-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-e5bw-J3s .ecole-normale-suprieure-njj .ecole-normale-suprieure-njj-sub-1 {
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-e5bw-J3s .ecole-normale-suprieure-njj .ecole-normale-suprieure-njj-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-e5bw-J3s .ecole-normale-suprieure-njj .ecole-normale-suprieure-njj-sub-3 {
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-e5bw-J3s .ecole-normale-suprieure-njj .ecole-normale-suprieure-njj-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-e5bw-J3s .ecole-normale-suprieure-njj .ecole-normale-suprieure-njj-sub-5 {
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-fvud-HTX {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-fvud-HTX .full-name-2vu {
  margin-bottom: 0.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-fvud-HTX .espace-exploration-des-rseaux-alumni-ens-mtV {
  margin-bottom: 0.9rem;
  max-width: 35.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-fvud-HTX .espace-exploration-des-rseaux-alumni-ens-mtV .espace-exploration-des-rseaux-alumni-ens-mtV-sub-0 {
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-fvud-HTX .espace-exploration-des-rseaux-alumni-ens-mtV .espace-exploration-des-rseaux-alumni-ens-mtV-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-fvud-HTX .espace-exploration-des-rseaux-alumni-ens-mtV .espace-exploration-des-rseaux-alumni-ens-mtV-sub-2 {
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-fvud-HTX .auto-group-zrdb-tbj {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-fvud-HTX .auto-group-zrdb-tbj .icone-de-deconnexion-vecteur-symbole-vecteur-fleche-de-deconnexion-et-icone-de-porte-sortie-icone-de-signe-de-deconnexion-symbole-de-deconnexion-gratuit-vectoriel-1-eau {
  margin-right: 1rem;
  width: 2.7rem;
  height: 3.7rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-fvud-HTX .auto-group-zrdb-tbj .dconnexion-KS9 {
  margin-right: 14.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-jeyh-BV3 .auto-group-fvud-HTX .auto-group-zrdb-tbj .fr-3sw {
  margin-top: 2.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #0075fe;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .line-3-BUM {
  width: 100%;
  height: 0.1rem;
  background-color: #bebebe;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX {
  width: 100%;
  height: 143.295rem;
  position: relative;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .line-4-fPX {
  width: 144.0006rem;
  height: 0.1rem;
  position: absolute;
  left: 0.0023rem;
  top: 8.195rem;
  background-color: #bebebe;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-ihoo-AbB {
  width: 87.7rem;
  height: 3.2rem;
  position: absolute;
  left: 3.5026rem;
  top: 1.795rem;
  display: flex;
  align-items: center;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-ihoo-AbB .home-tXB {
  margin-right: 4.8rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-ihoo-AbB .info-bRb {
  margin-right: 6.8rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-ihoo-AbB .profile-jXo {
  margin-right: 6.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-ihoo-AbB .info-personnel-55s {
  margin-right: 5.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-ihoo-AbB .contact-1VK {
  margin-right: 6.8rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-ihoo-AbB .autre-profile-kSu {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF {
  width: 132.1rem;
  height: 14.8rem;
  position: absolute;
  left: 0.0026rem;
  top: 124.395rem;
  display: flex;
  align-items: flex-start;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF .alumni-2-9zq {
  width: 14.9rem;
  height: 14.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF .ecole-normale-suprieure-uDK {
  margin: 2.6rem 64.5rem 0rem 0rem;
  max-width: 9.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF .ecole-normale-suprieure-uDK .ecole-normale-suprieure-uDK-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF .ecole-normale-suprieure-uDK .ecole-normale-suprieure-uDK-sub-1 {
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF .ecole-normale-suprieure-uDK .ecole-normale-suprieure-uDK-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF .ecole-normale-suprieure-uDK .ecole-normale-suprieure-uDK-sub-3 {
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF .ecole-normale-suprieure-uDK .ecole-normale-suprieure-uDK-sub-4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #0075fe;
  font-family: Lemon, 'Source Sans Pro';
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF .ecole-normale-suprieure-uDK .ecole-normale-suprieure-uDK-sub-5 {
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF .servicealumnigmailma-pd7 {
  margin: 2.5rem 6.9rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-5yx1-GRF .item-212-647177587-XXX {
  margin-top: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .line-5-3km {
  width: 144.0001rem;
  height: 0.2rem;
  position: absolute;
  left: 0.0026rem;
  top: 123.895rem;
  background-color: #0075fe;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry {
  width: 90.8rem;
  height: 108.5011rem;
  position: absolute;
  left: 5.9026rem;
  top: 10.7944rem;
  display: flex;
  align-items: flex-start;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH {
  margin: 0.801rem 1.349rem 0rem 0rem;
  width: 33.2rem;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .photo-profil-rond-1-38V {
  margin: 0rem 0rem 9.9rem 0.9rem;
  width: 25rem;
  height: 24.5rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-31wq-vxy {
  margin: 0rem 0rem 4.7rem 0.9rem;
  width: calc(100% - 0.9rem);
  display: flex;
  align-items: center;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-31wq-vxy .email-env-1345971-1-4pH {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 3.3rem;
  height: 2.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-31wq-vxy .emaildutilisateurum5acma-Pbf {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-umko-iP3 {
  margin: 0rem 12.2rem 1.9rem 0rem;
  width: calc(100% - 12.2rem);
  display: flex;
  align-items: center;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-umko-iP3 .icne-solide-noire-pour-le-lieu-de-naissance-et-la-terre-l-indigne-mre-patrie-rondin-150550524-1-SZw {
  width: 5.2rem;
  height: 4.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-umko-iP3 .lieudenaissance-rNm {
  margin-bottom: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-l6hp-PNh {
  margin: 0rem 12.1rem 3.2rem 0.9rem;
  width: calc(100% - 13rem);
  display: flex;
  align-items: flex-start;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-l6hp-PNh .item-2195392-1-6Y1 {
  margin-right: 1.9rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-l6hp-PNh .datedenaissance-S65 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-jeup-ai5 {
  margin: 0rem 10.8rem 3.4rem 0.9rem;
  width: calc(100% - 11.7rem);
  display: flex;
  align-items: center;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-jeup-ai5 .phone-icon-png-1-iZP {
  margin-right: 0.8rem;
  width: 3.5rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .auto-group-jeup-ai5 .numrotelephone-DFF {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-yxlm-KiH .genre-male-kFB {
  margin-left: 5.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .line-7-649 {
  margin-right: 4.0509rem;
  width: 0.1rem;
  height: 108.5011rem;
  background-color: #000000;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-igwv-Eg9 {
  margin-top: 2.7006rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-igwv-Eg9 .informations-professionnels-C7B {
  margin-bottom: 29.4rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-igwv-Eg9 .comptences-LDP {
  margin-bottom: 32.1rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-11-U4q .auto-group-ef5j-WmX .auto-group-yuqb-Bry .auto-group-igwv-Eg9 .loisirs-4fB {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #000000;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
